---
layout: default
title: home
permalink: /index.html
---
	
	
		
		  

			<!-- start banner Area -->
			<section class="banner-area" style="background: url(img/homebanner.png)">	
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-2  col-md-6 col-sm-3 ">
							<p class="imageInfo" style="color: white">PyData</p>
							<p class="imageInfo" style="color: white">Gandhinagar</p>
						</div>
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area pt-120">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<h1>Who are we?</h1>
							<p>PyData Gandhinagar is another chapter, just like the other PyData chapters across the world. And just like the others we work as a group of young and enthusiastic minds, trying to build a community in the field of data science, open source Python and what not.</p>
						</div>
						<div class="col-lg-6 col-md-6 home-about-right">
							<h1 style="text-align: center">A Community of  <span class='numscroller' data-min='1' data-max='200' data-delay='3' data-increment='1'>200</span></h1>
							<h1 style="text-align: center">and growing...</h1>
							<hr width="90%" style="margin-left:-10px">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			<!-- Start services Area -->
			<!-- <section class="services-area section-gap" style="background: #f9f9ff">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">We focus on</h1>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-pie-chart"></span>
								<h4>Data Science</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
								<h4>Data mining</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-pie-chart"></span>
								<h4>Data Analytics</h4>
							</div>	
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-database"></span>
								<h4>High Scalability Computing</h4>

							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-tablet"></span>
								<h4>Machine Learning</h4>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-rocket"></span>
								<h4>Open Source Python</h4>
							</div>				
						</div>														
					</div>
				</div>	
			</section> -->
			<!-- End services Area -->	

			<!-- To be announced Filler--> 
			<section class="recent-blog-area section-gap speakers announced-filler post-type1">
			<div class="container">
					<div class="row">
						<div class="col-md-12 pb-30 header-text news-header">
							<h1>Speakers - To be Announced !</h1>
						</div>
					</div>
				</div>	
			</section>
			<!-- End of to be announced filler -->

			<!-- Start Speakers Area -
			
			<section class="recent-blog-area section-gap speakers announced-filler">
					<div class="container">
						<div class="row">
							<div class="col-md-3 pb-30 header-text news-header">
								<h1>Speakers</h1>
							</div>
						</div>
						<div class="row">
							<div class=" col-lg-2 col-md-2 offset-lg-1 offset-md-1" style="padding: 10px">
								<div class="thumb">
									<img class="f-img img-fluid mx-auto img-speakers" src="img/anirban-dasgupta.bmp" alt="" >	
								</div>
								<br><br>						
								<a href="#">
									<h4 class="speaker-title">Anirban Dasgupta</h4>
								</a>

							</div>
							<div class=" col-lg-2 col-md-2" style="padding: 10px">
								<div class="thumb">
									<img class="f-img img-fluid mx-auto img-speakers" src="img/atishay.jpg" alt="" style="margin-top:5px">	
								</div>
								<br><br>						
								<a href="#">
									<h4 class="speaker-title">Atishay Jain</h4>
								</a>
								
							</div>
							<div class=" col-lg-2 col-md-2" style="padding: 10px">
								<div class="thumb">
									<img class="f-img img-fluid mx-auto img-speakers" src="img/rohanPatil.jpg" alt="" >	
								</div>
								<br><br>				
								<a href="#">
									<h4 class="speaker-title">Rohan Patil</h4>
								</a>
							</div>
							<div class=" col-lg-2 col-md-2" style="padding: 10px">
								<div class="thumb">
									<img class="f-img img-fluid mx-auto img-speakers" src="img/manas.jpg" alt="">	
								</div>
								<br><br>
								<a href="#">
									<h4 class="speaker-title">Manas Bedmutha</h4>
								</a>
							</div>
							<div class=" col-lg-2 col-md-2" style="padding: 10px" >
								<div class="thumb">
									<img class="f-img img-fluid mx-auto img-speakers center-block" src="img/rohitSharma.jpg" alt=" align="center">	
								</div>	
								<br><br>					
								<a href="#">
									<h4 class="speaker-title">Rohit Sharma</h4>
								</a>
							</div>																
						</div>
						<div class="row"
							<div class=" col-lg-4 col-md-4 offset-lg-1 ofset-md-1" style="padding-top: 40px">
								<button type="button" class="btn btn-outline-info center-block">View Speakers</button>
							</div>
						</div>
					</div>	
				</section>
				-- end Speakers Area -->		

			
	
			<!-- Start Updates Area -->
			<section class="recent-blog-area section-gap latest-news">
				<div class="container">
					<div class="row">
						<div class="col-md-3 pb-30 header-text news-header">
							<h1>Updates</h1>
						</div>
					</div>
					<div class="row">	
						<div class="single-recent-blog col-lg-3 col-md-3" style="padding: 10px">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/meetup-1.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							</div>							
							<a href="https://www.meetup.com/PyData-Gandhinagar/events/254405791/">
								<h4>Next Meetup</h4>
							</a>
							<br>
							<p class="updates-p"> 27 October 2018, Saturday</p>
						</div>
						<div class="single-recent-blog col-lg-3 col-md-3" style="padding: 10px">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/speaker.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							</div>							
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSekfkXzFrO-XA4IvTXadj6et3Jzsf-tdJxqDjL_M9kZKtDhBA/viewform">
								<h4>Speaker Proposals</h4>
							</a>
							<br>
							<p class="updates-p">Speaker Proposal Are now Open</p></div>
						<div class="single-recent-blog col-lg-3 col-md-3" style="padding: 10px">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/pydata-logo.png" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							</div>							
							<a href="https://github.com/pydatagn/Community/blob/master/CONTRIBUTING.md">
								<h4>Contributing to our Community</h4>
							</a>
							<p class="updates-p">Checkout our github account and feel free to add in your contributions to the community</p></div>												
								
						<div class="single-recent-blog col-lg-3 col-md-3" style="padding: 10px">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/python-logo.jpg" alt="">	
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							</div>							
							<a href="#">
								<h4>Contributing to our Blog</h4>
							</a>
							<br>
							<p class="updates-p">Feel free to contribute a Blog Post to the community, simply open a Pull Request <a href="https://github.com/pydatagn/Community">here</a> with your post in markdown

							</p>
						</div>							
					</div>
					<div class="row">
					<!--
						<div class="other-stories-div col-lg-3 col-md-3" style="padding: 50px">
								<button type="button" class="btn btn-outline-info">View All stories</button>
						</div>
					-->
					</div>
				</div>	
			</section>
			<!-- end Updates Area -->

			<!-- Start Latest News Area-
			<section class="recent-blog-area section-gap latest-news">
				<div class="container">
					<div class="row">
						<div class="col-md-3 pb-30 header-text news-header">
							<h1>Latest News</h1>
						</div>
					</div>
					<div class="wrapper">
							<ul class="post-list">
							  {% for post in paginator.posts %}
							  {% if post.category == "updates" %}
							  <div class="row">
							  <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 blogposts">
								<h2 class="post-title">
								  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</h2>
								<section class="post-excerpt" itemprop="description">
								  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
								</section>
								<section class="post-meta">
								  <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
								  <div class="post-categories">
								  {% if post.categories.size > 0 %}in {% for cat in post.categories %}
									{% if site.jekyll-archives %}
									<a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
									{% else %}
									<a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
									{% endif %}
								  {% endfor %}{% endif %}
								  </div>
								</section>
								</div>
								<div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 blogposts-tags">
								  <h4>Tags</h4>
								  {% assign tags = post.tags %}
								  {% for tag in tags %}
									<button type="button" class="btn btn-primary" style="margin-top:8px">{{ tag }}</button>
								  {% endfor %}
								</div>
							  </div>
							  {% endif %}
							  {% if forloop.last == false %}
							  <hr>
							  {% endif %}
							  {% endfor %}
							</ul>
							
						<nav class="pagination pagination-centered" role="navigation">
							<p>
							{% if paginator.previous_page %}
								{% if paginator.page == 2 %}
								<a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
								</span>
								</a>
								{% else %}
								<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
								</span>
								</a>
								{% endif %}
							{% else %}
							<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
							</span>
							{% endif %}
							<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
							{% if paginator.next_page %}
							<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
								<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							{% else %}
							<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
							</span>
							{% endif %}
							</p>
						</nav>
					</div>

				</div>
			</section>
			<-- End Latest News Area -->
			
			<!-- Start News Area-->
			<section class="news-area">
				<div class="container-fluid ">
					<div class="row news-area-row ">
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding post-type1">
							<p class="news-post-title">Speaking at Conferences</p>
							 Giving a talk, can always be a challenge. The time limit, the way we have
							 to speak and god the number of people who will be looking at you. But don't worry, we want you to know
							 that we encourage first timers.
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding ">
								
						</div>
						<div class="col-lg-3 news-area-post nopadding post-type1">
								<p class="news-post-title">Are we limited to Data Science only?</p>
								Of course not, The term PyData may be mis-leading sometimes. We deal with a lot more than just Data Science which may also
								extend to the use of other languages too!
						</div>
						<div class="col-lg-3  col-md-3 col-sm-3 nopadding post-type3">
							<img class="news-post-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfCKxNK2YmOXXlPamN-CYd1COPyYoQxRSUHXQzSkKO96zBBFwd"></div>
					</div>
					<div class="row news-area-row ">
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding ">
								
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding post-type1">
								<p class="news-post-title">FeedBack</p>
								Like what we do, or have something you would wish to tell us, feel free to write to us, or through any of
								of the other methods of contact
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3  nopadding post-type3">
								<img class="news-post-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ75JU8G9Pxt2MHQRUkfO0cUvnWUXk_4MjHDcM7MVIGfOdOQPza">
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding ">
								
						</div>
					</div>
					<div class="row news-area-row ">
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding post-type1">
								<p class="news-post-title">Our Meetup Channel</p>
								If you haven't already been to our meetup page, now is the good time. Details of Meetups tend to be updated earlier there, so do
								keep a lookout.
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 nopadding">
								<img class="news-post-img" src="http://compass.ptvgroup.com/wp-content/uploads/2017/11/DSC01783.jpg">
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 news-area-post nopadding ">

						</div>
						<div class="col-lg-3  col-md-3 col-sm-3 nopadding post-type1">
						</div>
					</div>
				</div>
			</section>			
			<!-- End News Area -->
				
			
			<!--Start of the Blog Area-->
			<!-- End of Blog Area -->

			<section>
					<div style="width: 100%">
						<iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=iit%20gandhinagar+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
							<a href="https://www.mapsdirections.info/en/custom-google-maps/">www.mapsdirections.info</a> by <a href="https://www.mapsdirections.info/en/">Measure area on map</a>
						</iframe>
					</div>
					<br/>

			</section>
			

            <!-- start footer Area -->
            
		
