<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
            <!--headin5_amrc-->
                <p class="mb10">Feel free to drop us an email or vist our Github Page.</p>
                <p><i class="fa fa-location-arrow"></i> IIT Gandhinagar, Palaj, Gujarat, India</p>
                <p><i class="fa fa fa-envelope"></i> pydatagn@gmail.com  </p>
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
            <!--footer_ul_amrc ends here-->
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
            <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="https://www.python.org/psf/">Python Software Foundation</a></li>
                    <li><a href="https://pydata.org/">Pydata Community</a></li>
                </ul>
            <!--footer_ul_amrc ends here-->
            </div>
        
        
            <div class=" col-sm-4 col-md  col-12 col">
                
            <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>
        
    <br>	
    <div class="container">
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2018 | Designed by <a href="#">PyData </a></p>
        
        <ul class="social_footer_ul">
            <li><a href="https://www.facebook.com/PyData-Gandhinagar-1702472603208950/?ref=br_rs"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/PyDataGN"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.meetup.com/PyData-Gandhinagar/events/254405791/"><i class="fab fa-meetup"></i></a></li>
            <li><a href="https://github.com/pydatagn"><i class="fab fa-github"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
        
</footer>
        
        
<!-- End footer Area -->		

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>			
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>			
  <script src="js/easing.min.js"></script>			
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>	
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>	
<script src="js/jquery.tabs.min.js"></script>						
<script src="js/jquery.nice-select.min.js"></script>	
<script src="js/isotope.pkgd.min.js"></script>			
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/simple-skillbar.js"></script>							
<script src="js/owl.carousel.min.js"></script>							
<script src="js/mail-script.js"></script>	
<script src="js/main.js"></script>	
<script src="js/numscroller-1.0.js"></script>