<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/logo-shortcut.png">
    <!-- Author Meta -->
    <meta name="author" content="Jayakrishna Sahit">
    <!-- Meta Description -->
    <meta name="description" content="The Official PyData Chapter of Gandhinagar, Gujarat, India">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Pydata, PyData-Gandhinagar, PyDatagn, PyDataGN">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>PyData Gandhinagar</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.cs
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/linearicons.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/magnific-popup.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery-ui.css">				
        <link rel="stylesheet" href="{{ site.baseurl }}/css/nice-select.css">							
        <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">				
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>