<div class="topnav" id="myTopnav">
    <a class="navi-item" href="/index.html">Home</a>
    <a class="navi-item" href="/speakers.html">Speakers</a>
    <a class="navi-item" href="about.html">About</a>
    <a class="navi-item" href="#">Blog</a>
    <a class="navi-item" href="#">Contact</a>
    <a class="navi-item" href="/archive.html">Archive</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
  
  <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script>
  